/* ==========================================================================
   Border-box
   ========================================================================== */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ==========================================================================
   Clearfix para los floats
   ========================================================================== */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ==========================================================================
   Grid Responsive
   ========================================================================== */

.column {
	float: left;
	margin-left: 2%;

	&:first-child{
		margin-left: 0;
	}
}

.column.full {
	width: 100%;
}

.column.two-third {
	width: 66%;
}

.column.half {
	width: 49%;
}

.column.one-third {
	width: 32%;
}

.column.three-third{
	width: 45%;
}

.column.one-fourth {
  	width: 23.5%;
}

.row {
	overflow: hidden;
	margin: 10px 0;
}


/* ==========================================================================
   Estilos generales
   ========================================================================== */

body,html{
	height: 100%;
}

body{
	color: #A2A2A2;
	overflow-x: hidden;
	font-family: $openSans; 
}

.wrap{
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	width: 98%;
	
}

input{
	outline: 0 none;
	border: 0 none;
	font-family: $openSans;
	font-size: 1em;
	color: #A2A2A2;	
} 



/* ==========================================================================
   Header
   ========================================================================== */

#mainHeader{
	background-color: #4C4C4C;
	height: 60px;

}

.country{
	float: left;
	margin-top: 20px;
	background-color: #4C4C4C;
	position: absolute;

	a{
		color:black;
		text-decoration: none;
	}

}

.othersCountries{
	display:none;

	li{
		margin: 5px 0;
	}

	a{
		display: block;
	}
}

.rightHeader{
	float: right;
	height: 50px;
	margin-top: 14px;
	font-weight: 200;
	font-size: 0.875em;

	li{
		display: block;
		float: left;
		margin: 0 0 0 23px;

		&:first-of-type{
			margin-top: 9px;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	a{
		color:#FFF;
		text-decoration: none;
	}
}

.login{
	border: 1px solid #FFF;
	@include border-radius(5px);
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;

	&:hover{
		background-color: red;
		background-color: $naranja;
	}
	

	a{
		padding: 7px 20px;
		display: block;
	}
}


.logo{
	float: left;
}

.menuActive{
	background-color: $naranja;
}

#hero{
	background: #9DBC19 url("../img/icons.png");
	height:645px;
	padding-top: 25px;
	
	a{
		text-decoration: none;
		color: #4C4C4C;

		&:hover{
			color: #FFF;
		}
	}

	nav{
		list-style-type:none;
	    padding:0;
	    margin-top:11px;
	    overflow:hidden;
	    float: right;
	    font-size: 1em;   
	    font-weight: 300;

   		li {
    		display: block;
    		float: left;
    		margin: 0 5px;
    		color: #FFF;
    		@include border-radius(5px);
    		border: 1px solid #fff;
    		-webkit-transition: background-color 200ms linear;
		    -moz-transition: background-color 200ms linear;
		    -o-transition: background-color 200ms linear;
		    -ms-transition: background-color 200ms linear;
		    transition: background-color 200ms linear;

    		&:last-of-type{
    			margin-right: 0;
    		}

    		&:hover{
    			background-color: $naranja;
    		}
    	}

    	a{
    		color: #FFF;
    		padding: 9px 10px;
    		display: block;
    	}
	}
}

.mainTitle{
	margin-top: 150px;

	h1,h2{
		color: white;
	}	

	h1{
		font-size: 6em;
		margin-bottom: 10px;
		font-weight: 300;
	}

	h2{
		font-size: 1.125em;
		font-weight: 300;
		width: 800px;
		line-height: 1.313em;
		margin: 25px auto 50px;
	}
}

#hero .titleBig{

	h1{
		font-size: 4.875em;
	}

	h2{
		width: 960px;
	}
}

.action{
	@include border-radius(5px);
	padding: 10px 15px;
	background-color: rgba(255,255,255,0.7);
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;

	&:hover{
		background-color: $naranja;
		color: #FFF;
	}
}


/* ==========================================================================
   Features
   ========================================================================== */

#features{
	padding:80px 0 60px 0;


	h1{
		color: #6F6F6F;
		font-size: 1.125em;
		font-weight: 600;
		margin:15px;

	}

	p{
		margin: 0 auto;
		line-height: 1.35em;
		width: 293px;
		font-size: 0.938em;
	}

	img{
		@include border-radius(50%);
	}

}

.mainFeatures{
	img{
		background-color: #E4E4E4;
		border: 1px solid #BBBBBB;
	}
}

.otherFeatures{
	img{
		background-color: #E4744E;
		border: 3px solid #E8E8E8;
	}
}


/* ==========================================================================
   Plans
   ========================================================================== */

#plans{
	padding: 75px 0 25px;
	margin: 0 auto;
	color: #515151;

	.wrap{
		width: 990px;
	}

	header{
		margin-bottom: 100px;

		h1{
			color: #6C6C6C;
			font-size: 4em;
			margin-bottom: 14px;
		}

		h2{
			width: 755px;
			margin: 0 auto;
			line-height: 1.5em;
			font-size: 0.935em;
		}
	}

	li{
		line-height: 1.563em;
		font-weight: 200;
		font-size: 0.935em;


	}

	h5{
		font-size: 0.6em;
		padding: 3px 0;
		color: #E4744E; 
	}

	h3{
		font-size: 0.688em;
		text-transform: uppercase;
		margin-top: 35px;
	}
}


.price,
.priceAnual,
.priceMonthly{
	font-size: 3.5em;
	font-weight: 200;

	span{
		font-size: 18px;
	}
}


.priceAnual{
	margin: 10px 0 50px 0;

	h6{
		font-size: 1em;
	}
}

.priceMonthly{
	font-size: 3em;
	margin-top: 7px;
	
}

.priceVPS{
	font-size: 2.750em;
}

.plan0,
.plan1,
.planIlimitado,
.planD7,
.planD14,
.planD25,
.planD100,
.vps_1,
.vps_2,
.vps_3,
.vps_4,
.vps_5{
	border: 1px solid #CCC;
    float: left;
    height: 540px;
    padding: 25px 0;
    width: 33%;

    h1{
    	color:#6F6F6F;
    	font-size: 1.375em;
    	font-weight: 600;
    	margin: 20px 0 ;
    }

    h4{
    	width: 70%;
    	margin: 0 auto;
    	font-size: 0.813em;
    	line-height: 1.375em;
    }

    ul{
    	margin: 35px 0;
    }

    em{
    	font-weight: 700;
    }

    a{
    	font-size: 1em;
    	margin: 28px 0;
    }
}

.iva{
	font-size: 0.938em;
}

/* ==========================================================================
   Info
   ========================================================================== */

#info{
	margin: 50px 0 70px 0;

	p{
		text-align: left;
		font-size: 0.875em;
		line-height: 1.5em;
	}

	em,
	strong{
		font-weight: 700;
	}

	a{
		color:$naranja;

		&:hover{
			color:#9dbc19;
		}
	}
}


/* ==========================================================================
   Contact
   ========================================================================== */

#contact{
	padding: 75px 0;
	
	font-size: 2.5em;
	background-color: #9DBC19;

	a{
		color:#FFF;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}	
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer{
	background-color: #4C4C4C;
	padding: 80px 0 35px 0;
	font-weight: 200;

	h2{
		font-size: 1.125em;
		margin-bottom: 15px;
	}

	li{
		line-height: 1.65em;
		font-size: 0.875em;
	}
}

.contentFooter{

	div{
		float: left;
		border-right: 1px solid #646464;
		height: 200px;
		text-align: left;
		color: #FFF;
		padding: 15px 2% 0 2%;

		&:last-of-type{
			border-right: 0 none;
		}
	}

	a{
		color: #FFF;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
}

.logoFooter{
	line-height: 185px;
}

.contactFooter ul{
	margin-top: 55px;
}
.socialIconsFooter{
	display: inline-block;
	margin: 0 0 0 25px;

	li{
		float: left;
		margin: -8px 7px;
	}	
} 

.terms{
	float: none;
	text-align: center;
	display: inline-block;
	margin-top: 75px;
	font-size: 0.875em;

	p{
		margin-top: 6px;
	}

	a{
		color: #A2A2A2;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}
