/* ==========================================================================
   1024PX 
   ========================================================================== */

@media screen and (max-width: 1024px){

	#features {
		
		.wrap{
			width: 100%;
		}

		img{
			width: 50%;
		}

		h1{
			font-size: 1em;
		}

		p{
			font-size: 0.875em;
			width: 200px;
		}
	}

	#domains{

		h1{
			font-size: 3em;
		}

		h2{
			width: 90%;
		}
	}

	#hero {
		height: 545px;
		
		h2{
			font-size: 1em;
			width: 90%;
		}

		.titleBig{

			h1{
				font-size: 3.5em;
			}

			h2{
				font-size: 1em;
				width: 96%;
			}
		}
	}

	.mainTitle{
		margin-top: 100px;

		h1{
			font-size: 5em;
		}
	}	

	#plans{
		.wrap{
			width: auto;
		}

		img{
			width: 35%;
		}
		
		.plan_1{
			margin-top: -30px;
			height: 560px;
		}

		.plan0,
		.plan1,
		.planIlimitado,
		.planD7,
		.planD14,
		.planD25,
		.planD100,
		.vps_1,
		.vps_2,
		.vps_3,
		.vps_4,
		.vps_5{
			
			h1{
				font-size: 1.250em;
				margin-top: 12px;
			}

			h4{
				line-height: 1.275em;
				width: 95%;
			}

			ul{
				margin:24px 0;
			}

			.price{
				font-size: 3em;
			}
		}		
	}
	
	.priceAnual{
		font-size: 3em;
	}
	.plan0,
	.planIlimitado{
		height: 500px;
	}

	.plan1{
		margin-top: -30px;
		height: 560px;
		padding-top: 55px;
	}

	#more{
		img{
			float: none;
			margin-bottom: 10px;
		}

		.column.one-third{
			text-align: center;
			margin: 20px 0;

			h1{
				font-size: 0.935em;
			}

			p{
				font-size: 0.75em;
			}
		}
	}

	#contact{
		font-size: 2em;
	}


	#footer{
		padding-top: 20px;
	}

	.contentFooter{

		div{
			float: none;
			text-align: center;
			height: auto;
			padding: 15px 0;
			border: 0 none;
		}

		.logoFooter{
			line-height: 0;
			height: 80px;
			margin-bottom: -40px;
		}

		.contactFooter{

		}

	}	
}

/* ==========================================================================
   900px 
   ========================================================================== */

@media screen and (max-width: 900px){
	
	#more{

		.column.one-third{

			p,
			h1{
				width: 200px;
				margin: 0 auto;
				padding: 0;
			}

			h1{
				margin: 5px auto 10px;
				line-height: 1.4em;
			}
		}
	}

	#login .column.one-third{
		width: 31%;
		float: none;
	}

}


/* ==========================================================================
   800px 
   ========================================================================== */

@media screen and (max-width: 800px){

	// #navbtn{
	// 	display: block;
	// }

	#hero {
		height: auto;
		padding-bottom: 10%;
		
		h1{
			font-size: 4em;
		}

		h2{
			font-size: 0.9em;
			width: 90%;
		}


		.logo{
			float: none;
			text-align: center;

			img{
				width: 200px;
			}
		}

		nav{
			float: none;
			margin-top: 15px;

			li{
				float: none;
				display: inline-block;
				font-size: 0.935em;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}

		.mainTitle{
			margin-top: 50px;
		}
		header{
			width: 96%;
			margin: 0 auto;
		}
	}

	#plans{
		padding-top: 25px;
	}

	.mainTitle{
		margin-top: 75px;
	}

	#trust h1,
	#plans header h1{
		font-size: 3em;
	}
	
	#plans header h2,
	#trust h2{
		width: 95%;
		font-size: 0.875em;
	}

	#contact{
		font-size: 1.5em;
	}

	#more header h1{
		font-size: 2em;
	}

	.guidesList > li{
		width: 49%;
	}
	#heroGuides h1{
		font-size: 2em;
		padding: 50px 0;
	}

}

/* ==========================================================================
   720px 
   ========================================================================== */

@media screen and (max-width: 720px){

	#features{
		p{
			font-size: 0.75em;
		}
	}

	#contact{
		font-size: 1.35em;
	}


	#trust{
		height: auto;

		ul li{
			width: 49%;

		}
	}


	.plan0,
	.plan1,
	.planIlimitado,
	.planD7,
	.planD14,
	.planD25,
	.planD100,
	.vps_1,
	.vps_2,
	.vps_3,
	.vps_4,
	.vps_5{
		
		h1{
			font-size: 1.250em;
			margin-top: 12px;
		}

		h4{
			line-height: 1.275em;
			width: 95%;
		}

		ul{
			margin:24px 0;
		}

		.price,
		.priceAnual,
		.priceMonthly{
			font-size: 2.5em;
		}

		li{
			font-size: 0.875em;
		}
	}

	.plan0,
	.planIlimitado{
		height: 455px;
	}

	.plan1{
		height: 510px;
	}

	#pay{
		margin:50px 0 75px 0;

		h1{
			font-size: 2em;
		}

	}

	#login .column.one-third{
		width: 50%;
		float: none;
		margin:25px 0;
	}

	.nameGuides{
		display: none;
	}

	.logoGuides{
		width: 200px;
		margin-top: 5px;
	}



}




/* ==========================================================================
   640PX 
   ========================================================================== */

@media screen and (max-width: 640px) {
	.column.full,
	.column.two-thirds,
	.column.half,
	.column.one-third,
	.column.one-fourth,
	.column.two-third {
		float: none;
		margin: 20px 0;
		width: 100%;
	}

	.btnsucces,
	.btnwarning,
	.btnerror{
		display: block;
	}


	#features{
		padding: 20px  0;

		.row{
			margin: 10px 5%;
		}

		img{
			width: 25%;
			float: left;
			margin-right: 15px;
		}

		.column.one-third,{
			overflow: hidden;
			margin: 30px 0;
		}

		h1{
			text-align: left;
		}
		p{
			text-align: left;
			width: auto;
		}
	}

	#info{
		p{
			width: 96%;
			margin: 0 auto;
		}
	}


	#more{

		.row{
			margin: 0 5%;
			overflow: inherit;

			.column.one-third,{
				overflow: hidden;
				margin: 30px 0;
				width:auto;

				img{
					float: left;
					margin-right: 15px;
				}

				h1,
				p{
					text-align: left;
					width: auto;
				}
			}
		}

		header{
			margin:50px 0;

			h1{
				font-size: 1.5em;
			}
		}
	}
	
	#contact{
		font-size: 1em;
		padding: 40px 0;
	}

	#pay h1{
		font-size: 1.75em;
	}
	
	.guidesList > li{
		width: 100%;
	}
	
	#heroGuides h1{
		font-size: 1.5em;
	}
}


/* ==========================================================================
   580PX 
   ========================================================================== */

@media screen and (max-width: 600px){

	#hero{

		h1{
			font-size: 3em;
		}

		.action{
			font-size: 0.875em;
		}

		.titleBig{
			h1{
				font-size: 2.5em;
			}
		}

	}


}

/* ==========================================================================
   480PX 
   ========================================================================== */

@media screen and (max-width: 480px){
	
	#hero{

		h1{
			font-size: 2.5em;
		}

		h2{
			margin-bottom: 35px;
			font-size: 0.875em;
		}
	}

	.logoGuides{
		width: 125px;
		margin-top: 11px;
	}
}

