/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "fonts.scss";
@import "ui.scss";
@import "base.scss";


/* ==========================================================================
   Landing
   ========================================================================== */

.heroLanding{
	background: #9DBC19 url("../img/icons.png");
}

#features{
	padding:80px 0 60px 0;


	h1{
		color: #6F6F6F;
		font-size: 1.125em;
		font-weight: 600;
		margin:15px;

	}

	p{
		margin: 0 auto;
		line-height: 1.35em;
		width: 293px;
		font-size: 0.813em;
	}

	img{
		background-color: #E4E4E4;
		border: 1px solid #BBBBBB;
		@include border-radius(50%);
	}
}

#plans{
	padding: 75px 0 25px;
	margin: 0 auto;
	color: #515151;

	.wrap{
		width: 990px;
	}

	header{
		margin-bottom: 100px;

		h1{
			color: #6C6C6C;
			font-size: 4em;
			margin-bottom: 14px;
		}

		h2{
			width: 755px;
			margin: 0 auto;
			line-height: 1.5em;
			font-size: 0.935em;
		}
	}

	li{
		line-height: 1.5em;
		font-weight: 200;
		font-size: 0.935em;
	}
}

.plan0,
.plan1,
.planIlimitado{
	border: 1px solid #CCC;
    float: left;
    height: 540px;
    padding: 25px 0;
    width: 33%;

    h1{
    	color:#6F6F6F;
    	font-size: 1.375em;
    	font-weight: 600;
    	margin: 20px 0 ;
    }

    h4{
    	width: 70%;
    	margin: 0 auto;
    	font-size: 0.813em;
    	line-height: 1.375em;
    }

    ul{
    	margin: 35px 0;
    }

    em{
    	font-weight: 700;
    }

    a{
    	font-size: 1em;
    	margin: 28px 0;
    }
}

.plan0{
	border-right: none;

	a{
		@include btn(#4FAAB2, #3C8F96);
	}
}


.plan1{
	margin-top: -46px;
	height: 615px;
	padding-top: 71px;

	a{
		@include btn(#81C369, #68A652);
	}

}

.planIlimitado{
	border-left: none;

	a{
		@include btn(#B3DC20, #9DBC19);
	}
}


.price{
	font-size: 3.5em;
	font-weight: 200;
	margin-top: 30px;

	span{
		font-size: 18px;
	}
}

#domains{
	background: url("../img/bg_dominios.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 350px;
	margin-top: 100px;
	color: #FFF;
	padding-top: 50px;
	text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 3px;

	h1{
		font-size: 3.5em;
	}

	h2{
		margin: 22px auto 35px;
		font-size: 0.935em;
		width: 75%;
		line-height: 1.375em;
	}

	input{
		padding: 8px;
		width: 700px;
	}

	button{
		@include btn(#B3DC20, #9DBC19);
		outline: 0 none;
		border-left: none;
		border-right: none;
		border-top: 0 none;
		font-size: 1em;
		margin-top: 25px;
	}
}


#trust{
	height: 600px;
	margin: 100px 0;

	h1{
		font-size: 4em;
		color: #6C6C6C;
	}

	h2{
		margin: 18px auto 50px;
		width: 78%;
		line-height: 1.5em;
		font-size: 0.935em;
	}

	.row{
		margin: 50px 0;

		h1{
			color:#6F6F6F;
			font-size: 1em;
			font-weight: 600;
			margin: 10px 0;
		}

		p{
			font-size: 0.75em;
			margin: 5px;
		}
	}
}



/* ==========================================================================
   Web Hosting
   ========================================================================== */


   
/* ==========================================================================
   Responsive
   ========================================================================== */

@import "responsive.scss";