/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "variables.scss";
@import "base.scss";


/* ==========================================================================
   Landing
   ========================================================================== */

.plan0{
	border-right: none;

	a{
		@include btn(#4FAAB2, #3C8F96);
	}

	h5{
		padding-top: 3px;
		font-size: 0.66;
	}
}


.plan1{
	margin-top: -35px;
	height: auto;
	padding: 60px 0;

	a{
		@include btn(#81C369, #68A652);
	}

	ul{
		margin-top: 51px;
	}

}

.planIlimitado{
	border-left: none;

	a{
		@include btn(#B3DC20, #9DBC19);
	}

	ul{
		margin-top: 51px;
	}
}

#domains{
	background: url("../img/bg_dominios.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 375px;
	margin-top: 100px;
	color: #FFF;
	padding-top: 50px;
	text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 3px;
	overflow-x: hidden; 

	h1{
		font-size: 3.5em;
	}

	h2{
		margin: 22px auto 35px;
		font-size: 0.935em;
		width: 75%;
		line-height: 1.375em;
	}

	input{
		padding: 8px;
		width: 700px;
	}

	button{
		@include btn(#B3DC20, #9DBC19);
		outline: 0 none;
		border-left: none;
		border-right: none;
		border-top: 0 none;
		font-size: 1em;
		margin-top: 25px;
	}

	form{
		overflow: hidden;
	}
}


#trust{
	height: 600px;
	margin: 100px 0;

	h1{
		font-size: 4em;
		color: #6C6C6C;
	}

	h2{
		margin: 18px auto 50px;
		width: 78%;
		line-height: 1.5em;
		font-size: 0.935em;
	}

	ul{
		margin: 50px 0;

		h1{
			color:#6F6F6F;
			font-size: 0.938em;
			line-height: 1.250em;
			font-weight: 600;
			margin: 10px 0;
		}

		p{
			font-size: 0.75em;
			margin: 5px;
		}

		li{
			display: inline-block;
			width: 32%;
			margin:0 0 25px 0;
			vertical-align: top;
		}
	}
}



/* ==========================================================================
   More 
   ========================================================================== */

#more{
	margin: 50px 0 ;
	
	header{
		margin: 100px 0;

		h1{
			font-weight: 300;
			font-size: 2.750em;
		}	
	}

	.column.one-third{
		text-align: left;
		margin: 35px 0;

		h1{
			margin: 5px 0 10px 0;
			color: #4C4C4C;
		}

		p{
			color: #7A7A7A;
			font-size: 0.875em;
			line-height: 1.375em;
			padding-right: 25px;
		}

		header{
			width: 65px;
			height: 65px;
			@include border-radius(50%);
			background-color: #E4744E;
			float: left;
			margin: 0 10px 50px 0;
		}
	}

	h1{
		font-weight: 600;
	}
	
	.row div:last-of-type p{
		padding-right: 0;
	}

}

/* ==========================================================================
   Pay 
   ========================================================================== */

	#pay{
   		margin: 50px 0 125px 0;

   		h1{
   			font-size: 2.5em;
   			font-weight: 300;
   			margin: 25px 0 45px;
   		}

   		li{
   			display: inline-block;
   			margin: 15px 5px 15px;
   		}
   }

	.mysql{
		display: inline-block;
		margin-top: 25px;
		font-size: 0.938em;
	}

/* ==========================================================================
   Revendedores 
   ========================================================================== */   

	.planD7,
	.planD14,
	.planD25,
	.planD100{
		width: 25%;
		height: auto;
		border-right: none;
	}

	.planD7{

		a{
			@include btn(#4FAAB2, #3C8F96);
		}
	}

	.planD14{
		a{
			@include btn(#70BB81, #469956);
		}
	}

	.planD25{
		a{
			@include btn(#92CB51, #72AA29);
		}
	}

	.planD100{
		border-right:1px solid #CCC;

		a{
			@include btn(#B3DC20, #9DBC19);
		}
	}

/* ==========================================================================
   VPS
   ========================================================================== */
	.vps_1,
	.vps_2,
	.vps_3,
	.vps_4,
	.vps_5{
		width: 20%;
		height: 620px;
	}
	
	.vps_1{
		border-right:none;

		a{
			@include btn(#4FAAB2, #3C8F96);
		}

		.firstVPS{
			margin-top: 50px;
		}
	}

	.vps_2{
		border-right:none;

		a{
			@include btn(#68B78E, #489B6D);
		}
	}

	.vps_3{
		border-right:none;
		a{
			@include btn(#81C369, #65A848);
		}
	}

	.vps_4{
		
		a{
			@include btn(#9AD045, #90C435);
		}
	}

	.vps_5{
		border-left: none;
		a{
			@include btn(#B3DC20, #9DBC19);
		}
	}

/* ==========================================================================
   Domains
   ========================================================================== */

#registerDomain{

	input{
		background-color: #FFF;
		border:1px solid #B3B3B3;
		color: #4C4C4C;
		margin: 10px 0 25px 0;
		padding: 5px 0 5px 10px;
		font-weight: 400;
		width: 600px;
		-webkit-transition: background-color 200ms linear;
		-moz-transition: background-color 200ms linear;
		-o-transition: background-color 200ms linear;
		-ms-transition: background-color 200ms linear;
		transition: background-color 200ms linear;

		&:focus{
			background-color: #F8F8F8;
		}
	}

	h1{
		font-weight: 300;
		font-size: 3em;
		margin: 30px 0;
	}

	h2{
		color: #686868;
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 1.125em;
	}

	p{
		font-weight: 300;
		color: #4C4C4C;

		span{
			font-size: 0.875em;
		}
	}

	button{
		@include btn(#70BB81, #469956);
		outline: 0 none;
		border-left: none;
		border-right: none;
		border-top: 0 none;
		font-size: 1em;
		margin: 25px 0;
	}

	.wrap{
		max-width: 800px;

	}

	.row{
		width: 600px;
		margin: 10px auto;
	}

	.column.one-fourth{
		border: 1px dashed #686868;
		padding: 24px;
		width: 21.5%;
	}

	.column{
		margin-left: 3%;
	}

	.iva{
		margin-top: 25px;
	}
}

.domainActive{
	background-color: #9dbc19; 

}

#registerDomain .domainActive{

	h2,p{
		color: #FFF;
		font-weight: 400;
	}
}

/* ==========================================================================
   Housing
   ========================================================================== */

#calculateHousing{
	margin-top: 25px;

	h1,
	h3{
		font-size: 4em;
		font-weight: 300;
		margin-bottom: 25px;
	}
	
	h3{
		color: #4C4C4C;
		font-size: 3em;

		span{
			font-size: 0.4em;
		}
	}

	h2{
		line-height: 1.375em;
		color: #686868;
		margin-bottom: 4px;
		font-weight: 600;
	}

	button{
		@include btn(#70BB81, #469956);
		outline: 0 none;
		border-left: none;
		border-right: none;
		border-top: 0 none;
		font-size: 1em;
		margin-top: 25px;
	}

}

#optionHousing{
	margin: 50px auto;

	.row{
		width: 600px;
		margin: 10px auto 50px;
	}

	.column.one-fourth{
		border: 1px dashed #686868;
		width: 23.5%;
		padding: 0 5px;
		height: 150px;

		> a{
			height: 150px;
			display: table;
			text-decoration: none;

		}

		h2{
			color: #469956;
			margin-bottom: 10px;
		}

		p{
			color: #4C4C4C;
		}

		.trianguloizq,
		.trianguloder{
			height: 14px;
		}

		.adicionalip,
		.licencias{
			background-color: #469956;
			padding: 3px 7px;
			color: white;
			display: inline-block;;
			margin-bottom: 10px;
		}
		
	}

	.inner{
		display: table-cell;
		vertical-align: middle;
		width: 23%;
		height: 150px;
	}

	.nameHousing,
	.mailHousing{
		background-color: #B2B2B2;
		color: #FFF;
		width: 340px;
		display: inline-block;
		padding: 5px;
		margin-top: 15px;
	}

	::-webkit-input-placeholder { color:#fff; }
	::-moz-placeholder { color:#fff; }
	:-ms-input-placeholder { color:#fff; } 
	input:-moz-placeholder { color:#fff; }

}

.trianguloizq{
	float: left;
	position: relative;
	left: 38px;
	top: 3px;
	height: 14px!important;
}

.trianguloder{
	float: right;
	position: relative;
	right: 38px;
	top: 3px;
	height: 14px!important;
}


.housingActive{
	background-color: #9dbc19;

	h2,
	p{
		color: #FFF;
	}

}	


#slider-horizontal{
    width: 60%;
    text-align: center;
    margin: 30px auto 40px;
    background-color: #C9C9C9;
}

#amount{
    border: 1px dashed #686868;
    color: #70BB81;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 50px auto 20px;
    width: 150px;
    font-weight: 300;
}

.mb{
	color: #70BB81;
	font-size: 40px;
	font-weight:300; 
}


.ui-slider-horizontal .ui-slider-range-min{
	background-color: #9DBC19;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background-color: #E8E8E8;
    border:8px solid #9DBC19;
    width: 30px;
    height: 30px;
    @include border-radius(50%);
}

.ui-slider-horizontal .ui-slider-handle{
	top: -0.6em;
	outline: 0 none;
}





/* ==========================================================================
   Consultas
   ========================================================================== */

#stepOne,
#stepTwo,
#stepThree{
	margin: 25px 0;
}   

#help{
	margin: 50px 0;

	h1{
		font-size: 4em;
		background-color: $naranja;
		border: 3px solid #E8E8E8;
		@include border-radius(50%);
		display: inline-block;
		padding: 20px 32px;
		color: #FFF;
		margin-bottom: 10px;
	}

	h2{
		font-size: 	2.5em;
		font-weight: 300;
		margin: 25px 0;
		color: #757575;
	}

	h3{
		margin-bottom: 20px;
		line-height: 1.3em;
	}

	input,
	textarea{
		background-color: #B2B2B2;
		color: #FFF;
		width: 240px;
		display: inline-block;
		padding: 5px;
	}

	input{
		margin-top: 15px;
	}

	textarea{
		width: 100%;
		resize:none;
		margin-top: 25px;
		font-size: 1em;
		border:0 none;
		outline: 0 none;
	}

	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #FFF;}
	input:-moz-placeholder, textarea:-moz-placeholder {color: #FFF;}

	form{
		width: 500px;
		margin: 0 auto;
	}

	button{
		@include btn(#70BB81, #469956);
		font-size: 0.9em;
		margin-bottom: 75px;
	}

	hr{
		border: 1px solid #C1C1C1;
		color: #B2B2B2;
		width: 600px;
		margin: 50px auto;
	}
}

.nameHelp{float: left;}
.mailHelp{float: right;}

#stepOne{

	ul{
		text-align: center;
		margin: 0 auto;
		width: 700px;

		li{
			display: inline-block;
			margin: 12px 5px;

			a{
				padding: 3px 10px;
				background-color: #B2B2B2;
				text-decoration: none;
				color: #FFF;
				font-weight: 300;

				&:hover{
					background-color: $naranja;
				}
			}
		}
	}
}

#stepTwo{
	margin: 100px auto;
}

.helpActive{ background-color: $naranja;}

.dontKnow{
	font-weight: 300;
	color: #A2A2A2;
	display: block;
	margin: 15px 0;

	&:hover{
		color: $naranja;
	}
}

/* ==========================================================================
   Login 
   ========================================================================== */   

   #login{
   		background: #525252 url("../img/bg_login.jpg") 0 0 ;
   		height: 100%;
   		width: 100%;
   		

   		.logo{
   			float: none;
   			padding:60px;

   			h1{
   				font-weight: 300;
   				color: #FFF;
   				margin: 25px 0 0 0;
   			}
   		}

   		.row header{
   			background-color: #B3D234;
   			@include border-radius(50%);
   			width: 65px;
   			height: 65px;
   			margin: 0 auto;
   		}

   		h2{
   			color: #fff;
   			margin: 20px 0;
   			font-weight: 300;
   		}

   		input{
   			background-color: rgba(82,82,82,0.8);
   			font-weight: 300;
   			padding: 6px;
   			margin: 5px 0;
   			color: #FFF;
   		}

   		button{
   			@include btn(#B3DC20, #9DBC19);
   			outline: 0 none;
   			color: #515151;
   			display: block;
   			margin: 15px auto;
   			font-size: 0.875em;
   		}

   		.column{
   			vertical-align: top;
   			display: inline-block;
   			float: none;
   		}

   		.column.one-third{
   			width: 27%;
   		}
   }
   
/* ==========================================================================
   Guias de ayuda
   ========================================================================== */

#heroGuides{
	background-image: none;
	background-color: #9DBC19;

	h1{
		font-size: 3em;
		line-height: 0;
		padding: 75px 0;
		color: #FFF;
		font-size: 3em;
		font-weight: 300;
	}

}

#guides{
	margin-top: 25px;
	font-weight: 300;


	header{
		background-color: #9DBC3B;
		border: 5px solid #99AE3A;
		@include border-radius(50%);
		width: 75px;
		height: 75px;
		margin: 0 auto;
	}

	h1{
		font-size: 1.3em;
		margin:15px 0;
	}

	a{
		color:#777777;
		text-decoration: none;
		font-size: 0.875em;

		&:hover{
			text-decoration: underline;
			color: #9DBC19;
		}
	}

	li{
		margin: 15px 0;
		text-align: center;
		vertical-align: top;
		
	}

	.row{
		margin: 50px 0;
	}

}

.guidesList{
	text-align: left;

	>li{
		display: inline-block;
		width: 32%;
		margin: 0 0 25px 0;
		padding: 15px 2%;
	}
}

.logoGuides,
.nameGuides{
	float: left;
	color: #FFF;
	font-weight: 300;
}

.logoGuides{

	img{
		width: 75%;
		margin-top: 10px;
	}
}

.nameGuides{
	margin-top: 23px;
}

/* ==========================================================================
   La Empresa
   ========================================================================== */

.empresa{
	padding: 50px 0;

	p{
		text-align: left;
		margin: 20px 0;
		line-height: 1.35em;
		color: #818080;

		em,
		strong{
			font-weight: 600;
			color: #5F5E5E;
		}

		i{
			font-style: italic;
		}

		a{
			color: #9dbc19;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	h1{
		font-size: 1.35em;
		font-weight: 600;
		text-align: left;
	}

}

.maincontent{
	width: 650px;
	float: left;
	border-bottom: 1px solid #ccc;
	text-align: left;

	img{
		border: 3px solid #D6D6D6;
	}

	.listMotivos{
		text-align: left;

		li{
			margin: 30px 0;
		}

		span{
			color: #9dbc19;
			font-size: 1.75em;
			font-weight: 600;
			margin-top: -7px;
			float: left;
			margin-right: 10px;
		}
	}

	h2{
		font-size: 1.25em;
		color: #9dbc19;
		font-weight: 600;
		margin: 45px 0;

	}

	h3{
		font-weight: 600;
		margin: 40px 0 10px 0;
		color: #5F5E5E;

	}

	h4{
		margin-bottom: 10px;
	}

}

.maintyc,
.maindns{
	width: 100%;
}


.cv{
	background-color: #9dbc19;
	text-align: center;
	padding: 10px;
	margin-top: 35px;

	h4{
		color: #FFF;
		font-size: 1.5em;
	}

	p{
		color: #FFF;
		text-align: center;

		a{
			color: #FFF;
		}
	}

}

.listrrhh{

	li{
		margin: 15px 0;
		line-height: 1.25em;
		list-style-type: disc;
		margin-left: 35px;
		color: #E4744E;
	}
}

#feedbackForm{
	input,
	textarea{
		background-color: #EAEAEA;
		font-family: Georgia, "Times New Roman", Times, serif;
		border: 0 none;
		padding: 10px;
		width: 100%;
		font-size: 1em;
		margin: 8px 0;

		&:focus{
			outline: none;
		}
	}

	textarea {
    	resize: none;
	}
}

#sendFeedback{
	@include inline-block;
	font-size: 1em;
	padding: 10px 40px;
	float: right;
	border: none;
	color:#FFF;
	text-decoration:none;
	background-color:#9CBB1A;
	cursor: pointer;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 15px;
}

.sidebar{
	float: right;
	width: 290px;
	text-align: left;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	overflow: hidden;

	h2{
		color: #E4744E;
		font-size: 1em;
	}

	ul{
		margin: 15px 0 0 25px;


		li{
			margin: 5px 0;
			list-style: disc;
			color: #9dbc19;

			a{
				color: #9dbc19;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.listTyc{
	li{
		list-style: disc;
		margin: 7px 0 7px 30px;
	}
}
/* ==========================================================================
   Paises
   ========================================================================== */

#flags{
	background-color: #4C4C4C;
	height: 100%;
	width: 100%;
	padding-top: 100px;

	ul{
		padding-top: 50px;
		text-align: center;

		li{
			display:inline-block;
			margin: 15px 10px;
			vertical-align: top;
			line-height: 1.35em;

			a{
				color: #FFF;
				text-decoration: none;

				&:hover{
					text-decoration: underline;;
				}
			}

			img{
				width: 45px;
				position: relative;
				top: 12px;
				padding-bottom: 20px;
			}
		}
	}
}

/* ==========================================================================
   DNS
   ========================================================================== */


.maindns{
	>div{
		margin-bottom: 15px;

		li{
			display: inline-block;
			margin: 0 15px 8px 0;
			color: #818080;

			input{
				margin: 0 10px 0 0;
			}

			em{
				font-weight: 600;
			}
		}
	}

	h2{
		margin: 45px 0 30px 0;
	}
}

.dns01,
.dns11,
.dns12,
.dns21,
.dns22,
.dns31,
.dns32,
.dns41,
.dns42{
	display: none;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@import "responsive.scss";