/* line 17, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Border-box
   ========================================================================== */
/* line 8, ../sass/blog.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Clearfix para los floats
   ========================================================================== */
/* line 19, ../sass/blog.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 24, ../sass/blog.scss */
.cf:after {
  clear: both;
}

/* line 28, ../sass/blog.scss */
.cf {
  *zoom: 1;
}

/* ==========================================================================
   Estilos generales
   ========================================================================== */
/* line 36, ../sass/blog.scss */
body, html {
  height: 100%;
}

/* line 40, ../sass/blog.scss */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* line 46, ../sass/blog.scss */
.wrap {
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
  width: 98%;
}

/* line 53, ../sass/blog.scss */
#wrapper {
  width: 1150px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* line 60, ../sass/blog.scss */
#header {
  background: #9dbc19 url("../blog/img/headerBlog.png") repeat-x;
  height: 157px;
  padding-top: 40px;
  text-align: center;
}
/* line 66, ../sass/blog.scss */
#header h1 {
  color: #FFF;
  font-weight: 300;
  line-height: 1.25em;
  margin: 0 auto;
  padding-top: 15px;
  width: 250px;
}

/* line 76, ../sass/blog.scss */
#main {
  color: #595959;
  width: 750px;
  float: left;
  overflow: hidden;
}

/* line 83, ../sass/blog.scss */
article {
  margin: 50px auto 60px;
}
/* line 86, ../sass/blog.scss */
article .wrap {
  text-align: left;
  width: 100%;
}
/* line 91, ../sass/blog.scss */
article footer {
  margin-top: 15px;
  padding-bottom: 3px;
  overflow: hidden;
}
/* line 96, ../sass/blog.scss */
article footer p {
  display: inline-block;
}
/* line 99, ../sass/blog.scss */
article footer p img {
  margin-right: 8px;
  vertical-align: middle;
}
/* line 105, ../sass/blog.scss */
article footer .social {
  float: right;
}
/* line 108, ../sass/blog.scss */
article footer .social li {
  display: inline-block;
  margin: 0 3px;
}
/* line 112, ../sass/blog.scss */
article footer .social li:last-of-type {
  margin-right: 0;
}
/* line 117, ../sass/blog.scss */
article footer .social img {
  vertical-align: middle;
}
/* line 121, ../sass/blog.scss */
article footer .social a {
  display: block;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

/* line 133, ../sass/blog.scss */
.date {
  background-color: #9DBC19;
  display: inline-block;
}
/* line 137, ../sass/blog.scss */
.date p {
  color: #FFF;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 145, ../sass/blog.scss */
.follow {
  display: block;
  background-color: #4C4C4C;
  padding: 25px;
}
/* line 150, ../sass/blog.scss */
.follow ul {
  text-align: center;
}
/* line 153, ../sass/blog.scss */
.follow ul li {
  display: inline-block;
  margin: 20px 10px 0;
}
/* line 157, ../sass/blog.scss */
.follow ul li:last-of-type {
  margin-right: 0;
}
/* line 163, ../sass/blog.scss */
.follow h1 {
  color: #FFF;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 4px;
}

/* line 172, ../sass/blog.scss */
.newsletter {
  display: block;
  margin-bottom: 20px;
  background-color: #9DBC19;
  padding: 15px 5px;
  text-align: center;
}
/* line 179, ../sass/blog.scss */
.newsletter h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
}
/* line 186, ../sass/blog.scss */
.newsletter input {
  width: 88%;
  padding: 7px;
  outline: 0 none;
  border: none;
  font-weight: 600;
  font-size: 0.875em;
}
/* line 194, ../sass/blog.scss */
.newsletter input:focus {
  outline: none;
}
/* line 199, ../sass/blog.scss */
.newsletter button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1em;
  padding: 10px 40px;
  border: none;
  color: #4C4C4C;
  text-decoration: none;
  background-color: #FFF;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-top: 18px;
}
/* line 215, ../sass/blog.scss */
.newsletter button:hover {
  background-color: #4C4C4C;
  color: #FFF;
}

/* line 222, ../sass/blog.scss */
.post {
  border-bottom: 2px solid #4C4C4C;
  padding-bottom: 15px;
}
/* line 226, ../sass/blog.scss */
.post h1 {
  font-size: 2.875em;
  margin: 20px 0;
}
/* line 230, ../sass/blog.scss */
.post h1 a {
  text-decoration: none;
  color: #595959;
}
/* line 237, ../sass/blog.scss */
.post h2 {
  font-size: 2em;
  color: #b3dc20;
  margin: 5px 0;
}
/* line 243, ../sass/blog.scss */
.post h3 {
  font-size: 1.5em;
  color: #b3dc20;
  margin: 5px 0;
}
/* line 249, ../sass/blog.scss */
.post img {
  width: 100%;
  vertical-align: middle;
}
/* line 254, ../sass/blog.scss */
.post figcaption {
  background-color: #4C4C4C;
  color: #FFF;
  padding: 5px;
  font-size: 0.875em;
  font-weight: 300;
}
/* line 262, ../sass/blog.scss */
.post p {
  margin: 15px 0;
  line-height: 1.35em;
}
/* line 267, ../sass/blog.scss */
.post p em,
.post p strong {
  font-weight: 600;
}
/* line 271, ../sass/blog.scss */
.post p a {
  color: #9dbc19;
  text-decoration: none;
}
/* line 275, ../sass/blog.scss */
.post p a:hover {
  text-decoration: underline;
}
/* line 281, ../sass/blog.scss */
.post iframe {
  margin: 10px auto;
  display: block;
}

/* line 288, ../sass/blog.scss */
aside {
  overflow: hidden;
  float: right;
  width: 290px;
}
/* line 293, ../sass/blog.scss */
aside h2 {
  font-size: 1.25em;
}
/* line 297, ../sass/blog.scss */
aside li {
  margin: 20px 0;
  font-size: 0.875em;
}
/* line 301, ../sass/blog.scss */
aside li a {
  color: #4C4C4C;
  line-height: 1.25em;
}
/* line 306, ../sass/blog.scss */
aside li span {
  color: #9CBB1A;
}
/* line 310, ../sass/blog.scss */
aside li img {
  vertical-align: middle;
}
/* line 317, ../sass/blog.scss */
aside .categories li {
  margin: 10px 0;
}
/* line 325, ../sass/blog.scss */
aside .recentComments img {
  float: left;
  margin-top: 4px;
}
/* line 331, ../sass/blog.scss */
aside .backToSite {
  border: 1px solid #b3dc20;
  text-align: center;
}
/* line 335, ../sass/blog.scss */
aside .backToSite a {
  padding: 25px;
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  color: #E4744E;
}
/* line 342, ../sass/blog.scss */
aside .backToSite a:hover {
  background-color: #b3dc20;
  color: #FFF;
}

/* line 353, ../sass/blog.scss */
.older a,
.newest a {
  border: 1px solid #b3dc20;
  display: inline-block;
  text-decoration: none;
  color: #E4744E;
  padding: 5px;
}
/* line 360, ../sass/blog.scss */
.older a:hover,
.newest a:hover {
  background-color: #b3dc20;
  color: #FFF;
}

/* line 367, ../sass/blog.scss */
.older {
  float: left;
}

/* line 370, ../sass/blog.scss */
.newest {
  float: right;
}

/* line 374, ../sass/blog.scss */
.recentComment {
  margin-left: 20px;
}

/* line 381, ../sass/blog.scss */
.recent ul {
  overflow: auto;
}
/* line 384, ../sass/blog.scss */
.recent ul img {
  float: left;
  padding-top: 7px;
}
/* line 389, ../sass/blog.scss */
.recent ul a {
  margin-left: 23px;
  display: block;
  line-height: 1.5em;
}
/* line 395, ../sass/blog.scss */
.recent ul li {
  margin: 12px 0;
}

/* line 405, ../sass/blog.scss */
.follow,
.recentComments,
.recent,
.categories,
.flags {
  margin: 50px 0;
}
/* line 408, ../sass/blog.scss */
.follow a,
.recentComments a,
.recent a,
.categories a,
.flags a {
  text-decoration: none;
}
/* line 411, ../sass/blog.scss */
.follow a:hover,
.recentComments a:hover,
.recent a:hover,
.categories a:hover,
.flags a:hover {
  text-decoration: underline;
}

/* line 417, ../sass/blog.scss */
.follow {
  margin-bottom: 30px;
}

/* line 422, ../sass/blog.scss */
.flags li {
  display: inline-block;
  margin: 15px 8px;
}
/* line 427, ../sass/blog.scss */
.flags img {
  width: 50px;
}

/* ==========================================================================
   Post
   ========================================================================== */
/* line 436, ../sass/blog.scss */
.code {
  color: #FFF;
  padding: 10px 15px;
  background-color: #9CBB1A;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
/* line 445, ../sass/blog.scss */
.code:hover {
  background-color: #b3dc20;
}

/* line 452, ../sass/blog.scss */
#comments h1 {
  font-size: 1.5em;
}
/* line 458, ../sass/blog.scss */
#comments header img {
  width: 20px;
  margin-right: 15px;
  vertical-align: middle;
}
/* line 465, ../sass/blog.scss */
#comments article {
  margin-bottom: 50px;
}
/* line 468, ../sass/blog.scss */
#comments article:last-of-type {
  margin-bottom: 75px;
}
/* line 472, ../sass/blog.scss */
#comments article img {
  float: left;
  margin-right: 25px;
}
/* line 477, ../sass/blog.scss */
#comments article h2 {
  font-size: 1.125em;
  margin-bottom: 15px;
  padding-top: 4px;
}
/* line 482, ../sass/blog.scss */
#comments article h2 span {
  color: #9CBB1A;
  font-size: 1em;
}
/* line 490, ../sass/blog.scss */
#comments article p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.975em;
}

/* line 499, ../sass/blog.scss */
#commentForm {
  margin-top: 25px;
}
/* line 503, ../sass/blog.scss */
#commentForm input,
#commentForm textarea {
  background-color: #EAEAEA;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 0 none;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  margin: 8px 0;
}
/* line 512, ../sass/blog.scss */
#commentForm input:focus,
#commentForm textarea:focus {
  outline: none;
}
/* line 517, ../sass/blog.scss */
#commentForm input {
  height: 40px;
}
/* line 521, ../sass/blog.scss */
#commentForm p {
  font-size: 0.750em;
  color: #A3A3A3;
  float: right;
  padding: 0 0 5px 0;
}

/* line 530, ../sass/blog.scss */
#sendComment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1em;
  padding: 10px 40px;
  float: right;
  border: none;
  color: #FFF;
  text-decoration: none;
  background-color: #9CBB1A;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ==========================================================================
   Responsive
   ========================================================================== */
@media screen and (max-width: 1150px) {
  /* line 553, ../sass/blog.scss */
  #wrapper {
    width: 96%;
  }

  /* line 557, ../sass/blog.scss */
  #main {
    width: 66%;
  }

  /* line 561, ../sass/blog.scss */
  #sidebar {
    width: 29%;
  }
}
@media screen and (max-width: 900px) {
  /* line 570, ../sass/blog.scss */
  #main,
  #sidebar {
    width: 99%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 579, ../sass/blog.scss */
  #wrapper {
    width: 94%;
  }

  /* line 582, ../sass/blog.scss */
  .post h1 {
    font-size: 2em;
  }

  /* line 586, ../sass/blog.scss */
  iframe {
    width: 98%;
  }
}
@media screen and (max-width: 520px) {
  /* line 595, ../sass/blog.scss */
  .older,
  .newest {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 480px) {
  /* line 602, ../sass/blog.scss */
  .older,
  .newest {
    font-size: 0.75em;
  }
}
