/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Border-box
   ========================================================================== */
/* line 5, ../sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Clearfix para los floats
   ========================================================================== */
/* line 16, ../sass/_base.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 21, ../sass/_base.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/_base.scss */
.cf {
  *zoom: 1;
}

/* ==========================================================================
   Grid Responsive
   ========================================================================== */
/* line 33, ../sass/_base.scss */
.column {
  float: left;
  margin-left: 2%;
}
/* line 37, ../sass/_base.scss */
.column:first-child {
  margin-left: 0;
}

/* line 42, ../sass/_base.scss */
.column.full {
  width: 100%;
}

/* line 46, ../sass/_base.scss */
.column.two-third {
  width: 66%;
}

/* line 50, ../sass/_base.scss */
.column.half {
  width: 49%;
}

/* line 54, ../sass/_base.scss */
.column.one-third {
  width: 32%;
}

/* line 58, ../sass/_base.scss */
.column.three-third {
  width: 45%;
}

/* line 62, ../sass/_base.scss */
.column.one-fourth {
  width: 23.5%;
}

/* line 66, ../sass/_base.scss */
.row {
  overflow: hidden;
  margin: 10px 0;
}

/* ==========================================================================
   Estilos generales
   ========================================================================== */
/* line 76, ../sass/_base.scss */
body, html {
  height: 100%;
}

/* line 80, ../sass/_base.scss */
body {
  color: #A2A2A2;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

/* line 86, ../sass/_base.scss */
.wrap {
  margin: 0 auto;
  max-width: 1100px;
  text-align: center;
  width: 98%;
}

/* line 94, ../sass/_base.scss */
input {
  outline: 0 none;
  border: 0 none;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #A2A2A2;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 108, ../sass/_base.scss */
#mainHeader {
  background-color: #4C4C4C;
  height: 60px;
}

/* line 114, ../sass/_base.scss */
.country {
  float: left;
  margin-top: 20px;
  background-color: #4C4C4C;
  position: absolute;
}
/* line 120, ../sass/_base.scss */
.country a {
  color: black;
  text-decoration: none;
}

/* line 127, ../sass/_base.scss */
.othersCountries {
  display: none;
}
/* line 130, ../sass/_base.scss */
.othersCountries li {
  margin: 5px 0;
}
/* line 134, ../sass/_base.scss */
.othersCountries a {
  display: block;
}

/* line 139, ../sass/_base.scss */
.rightHeader {
  float: right;
  height: 50px;
  margin-top: 14px;
  font-weight: 200;
  font-size: 0.875em;
}
/* line 146, ../sass/_base.scss */
.rightHeader li {
  display: block;
  float: left;
  margin: 0 0 0 23px;
}
/* line 151, ../sass/_base.scss */
.rightHeader li:first-of-type {
  margin-top: 9px;
}
/* line 154, ../sass/_base.scss */
.rightHeader li:first-of-type:hover {
  text-decoration: underline;
}
/* line 160, ../sass/_base.scss */
.rightHeader a {
  color: #FFF;
  text-decoration: none;
}

/* line 166, ../sass/_base.scss */
.login {
  border: 1px solid #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 175, ../sass/_base.scss */
.login:hover {
  background-color: red;
  background-color: #e4744e;
}
/* line 181, ../sass/_base.scss */
.login a {
  padding: 7px 20px;
  display: block;
}

/* line 188, ../sass/_base.scss */
.logo {
  float: left;
}

/* line 192, ../sass/_base.scss */
.menuActive {
  background-color: #e4744e;
}

/* line 197, ../sass/_base.scss */
#hero,
#heroGuides {
  background: #9dbc19 url("../img/icons.png");
  height: 645px;
  padding-top: 25px;
}
/* line 203, ../sass/_base.scss */
#hero h1, #hero h2,
#heroGuides h1,
#heroGuides h2 {
  color: white;
}
/* line 207, ../sass/_base.scss */
#hero h1,
#heroGuides h1 {
  font-size: 6em;
  margin-bottom: 10px;
  font-weight: 300;
}
/* line 213, ../sass/_base.scss */
#hero h2,
#heroGuides h2 {
  font-size: 1.125em;
  font-weight: 300;
  width: 800px;
  line-height: 1.313em;
  margin: 25px auto 50px;
}
/* line 221, ../sass/_base.scss */
#hero a,
#heroGuides a {
  text-decoration: none;
  color: #4C4C4C;
}
/* line 225, ../sass/_base.scss */
#hero a:hover,
#heroGuides a:hover {
  color: #FFF;
}
/* line 230, ../sass/_base.scss */
#hero nav,
#heroGuides nav {
  list-style-type: none;
  padding: 0;
  margin-top: 11px;
  overflow: hidden;
  float: right;
  font-size: 1em;
  font-weight: 300;
}
/* line 239, ../sass/_base.scss */
#hero nav li,
#heroGuides nav li {
  display: block;
  float: left;
  margin: 0 5px;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 252, ../sass/_base.scss */
#hero nav li:last-of-type,
#heroGuides nav li:last-of-type {
  margin-right: 0;
}
/* line 256, ../sass/_base.scss */
#hero nav li:hover,
#heroGuides nav li:hover {
  background-color: #e4744e;
}
/* line 261, ../sass/_base.scss */
#hero nav a,
#heroGuides nav a {
  color: #FFF;
  padding: 9px 10px;
  display: block;
}

/* line 283, ../sass/_base.scss */
.mainTitle {
  margin-top: 150px;
}

/* line 289, ../sass/_base.scss */
#hero .titleBig h1 {
  font-size: 4.875em;
}
/* line 293, ../sass/_base.scss */
#hero .titleBig h2 {
  width: 960px;
}

/* line 298, ../sass/_base.scss */
.action {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/* line 308, ../sass/_base.scss */
.action:hover {
  background-color: #e4744e;
  color: #FFF;
}

/* ==========================================================================
   Features
   ========================================================================== */
/* line 319, ../sass/_base.scss */
#features {
  padding: 80px 0 60px 0;
}
/* line 323, ../sass/_base.scss */
#features h1 {
  color: #6F6F6F;
  font-size: 1.125em;
  font-weight: 600;
  margin: 15px;
}
/* line 331, ../sass/_base.scss */
#features p {
  margin: 0 auto;
  line-height: 1.35em;
  width: 293px;
  font-size: 0.938em;
}
/* line 338, ../sass/_base.scss */
#features img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 345, ../sass/_base.scss */
.mainFeatures img {
  background-color: #E4E4E4;
  border: 1px solid #BBBBBB;
}

/* line 352, ../sass/_base.scss */
.otherFeatures img {
  background-color: #E4744E;
  border: 3px solid #E8E8E8;
}

/* ==========================================================================
   Plans
   ========================================================================== */
/* line 363, ../sass/_base.scss */
#plans {
  padding: 75px 0 25px;
  margin: 0 auto;
  color: #515151;
}
/* line 368, ../sass/_base.scss */
#plans .wrap {
  width: 990px;
}
/* line 372, ../sass/_base.scss */
#plans header {
  margin-bottom: 100px;
}
/* line 375, ../sass/_base.scss */
#plans header h1 {
  color: #6C6C6C;
  font-size: 4em;
  margin-bottom: 14px;
}
/* line 381, ../sass/_base.scss */
#plans header h2 {
  width: 755px;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 0.935em;
}
/* line 389, ../sass/_base.scss */
#plans li {
  line-height: 1.563em;
  font-weight: 200;
  font-size: 0.935em;
}
/* line 397, ../sass/_base.scss */
#plans h5 {
  font-size: 0.6em;
  padding: 3px 0;
  color: #E4744E;
}
/* line 403, ../sass/_base.scss */
#plans h3 {
  font-size: 0.688em;
  text-transform: uppercase;
  margin-top: 35px;
}

/* line 413, ../sass/_base.scss */
.price,
.priceAnual,
.priceMonthly {
  font-size: 3.5em;
  font-weight: 200;
}
/* line 417, ../sass/_base.scss */
.price span,
.priceAnual span,
.priceMonthly span {
  font-size: 18px;
}

/* line 423, ../sass/_base.scss */
.priceAnual {
  margin: 10px 0 50px 0;
}
/* line 426, ../sass/_base.scss */
.priceAnual h6 {
  font-size: 1em;
}

/* line 431, ../sass/_base.scss */
.priceMonthly {
  font-size: 3em;
  margin-top: 7px;
}

/* line 437, ../sass/_base.scss */
.priceVPS {
  font-size: 2.750em;
}

/* line 452, ../sass/_base.scss */
.plan0,
.plan1,
.planIlimitado,
.planD7,
.planD14,
.planD25,
.planD100,
.vps_1,
.vps_2,
.vps_3,
.vps_4,
.vps_5 {
  border: 1px solid #CCC;
  float: left;
  height: 540px;
  padding: 25px 0;
  width: 33%;
}
/* line 459, ../sass/_base.scss */
.plan0 h1,
.plan1 h1,
.planIlimitado h1,
.planD7 h1,
.planD14 h1,
.planD25 h1,
.planD100 h1,
.vps_1 h1,
.vps_2 h1,
.vps_3 h1,
.vps_4 h1,
.vps_5 h1 {
  color: #6F6F6F;
  font-size: 1.375em;
  font-weight: 600;
  margin: 20px 0;
}
/* line 466, ../sass/_base.scss */
.plan0 h4,
.plan1 h4,
.planIlimitado h4,
.planD7 h4,
.planD14 h4,
.planD25 h4,
.planD100 h4,
.vps_1 h4,
.vps_2 h4,
.vps_3 h4,
.vps_4 h4,
.vps_5 h4 {
  width: 70%;
  margin: 0 auto;
  font-size: 0.813em;
  line-height: 1.375em;
}
/* line 473, ../sass/_base.scss */
.plan0 ul,
.plan1 ul,
.planIlimitado ul,
.planD7 ul,
.planD14 ul,
.planD25 ul,
.planD100 ul,
.vps_1 ul,
.vps_2 ul,
.vps_3 ul,
.vps_4 ul,
.vps_5 ul {
  margin: 35px 0;
}
/* line 477, ../sass/_base.scss */
.plan0 em,
.plan1 em,
.planIlimitado em,
.planD7 em,
.planD14 em,
.planD25 em,
.planD100 em,
.vps_1 em,
.vps_2 em,
.vps_3 em,
.vps_4 em,
.vps_5 em {
  font-weight: 700;
}
/* line 481, ../sass/_base.scss */
.plan0 a,
.plan1 a,
.planIlimitado a,
.planD7 a,
.planD14 a,
.planD25 a,
.planD100 a,
.vps_1 a,
.vps_2 a,
.vps_3 a,
.vps_4 a,
.vps_5 a {
  font-size: 1em;
  margin: 28px 0;
}

/* line 487, ../sass/_base.scss */
.iva {
  font-size: 0.938em;
}

/* ==========================================================================
   Info
   ========================================================================== */
/* line 495, ../sass/_base.scss */
#info {
  margin: 50px 0 70px 0;
}
/* line 498, ../sass/_base.scss */
#info p {
  text-align: left;
  font-size: 0.875em;
  line-height: 1.5em;
}
/* line 505, ../sass/_base.scss */
#info em,
#info strong {
  font-weight: 700;
}
/* line 509, ../sass/_base.scss */
#info a {
  color: #e4744e;
}
/* line 512, ../sass/_base.scss */
#info a:hover {
  color: #9dbc19;
}

/* ==========================================================================
   Contact
   ========================================================================== */
/* line 523, ../sass/_base.scss */
#contact {
  padding: 75px 0;
  font-size: 2.5em;
  background-color: #9DBC19;
}
/* line 529, ../sass/_base.scss */
#contact a {
  color: #FFF;
  text-decoration: none;
}
/* line 533, ../sass/_base.scss */
#contact a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 543, ../sass/_base.scss */
#footer {
  background-color: #4C4C4C;
  padding: 80px 0 35px 0;
  font-weight: 200;
}
/* line 548, ../sass/_base.scss */
#footer h2 {
  font-size: 1.125em;
  margin-bottom: 15px;
}
/* line 553, ../sass/_base.scss */
#footer li {
  line-height: 1.65em;
  font-size: 0.875em;
}

/* line 561, ../sass/_base.scss */
.contentFooter div {
  float: left;
  border-right: 1px solid #646464;
  height: 200px;
  text-align: left;
  color: #FFF;
  padding: 15px 2% 0 2%;
}
/* line 569, ../sass/_base.scss */
.contentFooter div:last-of-type {
  border-right: 0 none;
}
/* line 574, ../sass/_base.scss */
.contentFooter a {
  color: #FFF;
  text-decoration: none;
}
/* line 578, ../sass/_base.scss */
.contentFooter a:hover {
  text-decoration: underline;
}

/* line 584, ../sass/_base.scss */
.logoFooter {
  line-height: 185px;
}

/* line 588, ../sass/_base.scss */
.contactFooter ul {
  margin-top: 55px;
}

/* line 591, ../sass/_base.scss */
.socialIconsFooter {
  display: inline-block;
  margin: 0 0 0 25px;
}
/* line 595, ../sass/_base.scss */
.socialIconsFooter li {
  float: left;
  margin: -8px 7px;
}

/* line 601, ../sass/_base.scss */
.terms {
  float: none;
  text-align: center;
  display: inline-block;
  margin-top: 75px;
  font-size: 0.875em;
}
/* line 608, ../sass/_base.scss */
.terms p {
  margin-top: 6px;
}
/* line 612, ../sass/_base.scss */
.terms a {
  color: #A2A2A2;
  text-decoration: none;
}
/* line 616, ../sass/_base.scss */
.terms a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Landing
   ========================================================================== */
/* line 16, ../sass/screen.scss */
.plan0 {
  border-right: none;
}
/* line 19, ../sass/screen.scss */
.plan0 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #4faab2;
  border-bottom: 3px solid black;
  border-color: #3c8f96;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.plan0 a:hover {
  background-color: #3c8f96;
  border-color: #4faab2;
}

/* line 25, ../sass/screen.scss */
.plan1 {
  margin-top: -46px;
  height: 615px;
  padding-top: 71px;
}
/* line 30, ../sass/screen.scss */
.plan1 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #81c369;
  border-bottom: 3px solid black;
  border-color: #68a652;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.plan1 a:hover {
  background-color: #68a652;
  border-color: #81c369;
}

/* line 36, ../sass/screen.scss */
.planIlimitado {
  border-left: none;
}
/* line 39, ../sass/screen.scss */
.planIlimitado a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #b3dc20;
  border-bottom: 3px solid black;
  border-color: #9dbc19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.planIlimitado a:hover {
  background-color: #9dbc19;
  border-color: #b3dc20;
}

/* line 44, ../sass/screen.scss */
#domains {
  background: url("../img/bg_dominios.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 375px;
  margin-top: 100px;
  color: #FFF;
  padding-top: 50px;
  text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 3px;
}
/* line 56, ../sass/screen.scss */
#domains h1 {
  font-size: 3.5em;
}
/* line 60, ../sass/screen.scss */
#domains h2 {
  margin: 22px auto 35px;
  font-size: 0.935em;
  width: 75%;
  line-height: 1.375em;
}
/* line 67, ../sass/screen.scss */
#domains input {
  padding: 8px;
  width: 700px;
}
/* line 72, ../sass/screen.scss */
#domains button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #b3dc20;
  border-bottom: 3px solid black;
  border-color: #9dbc19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0 none;
  border-left: none;
  border-right: none;
  border-top: 0 none;
  font-size: 1em;
  margin-top: 25px;
}
/* line 20, ../sass/variables.scss */
#domains button:hover {
  background-color: #9dbc19;
  border-color: #b3dc20;
}

/* line 84, ../sass/screen.scss */
#trust {
  height: 600px;
  margin: 100px 0;
}
/* line 88, ../sass/screen.scss */
#trust h1 {
  font-size: 4em;
  color: #6C6C6C;
}
/* line 93, ../sass/screen.scss */
#trust h2 {
  margin: 18px auto 50px;
  width: 78%;
  line-height: 1.5em;
  font-size: 0.935em;
}
/* line 101, ../sass/screen.scss */
#trust ul {
  margin: 50px 0;
}
/* line 104, ../sass/screen.scss */
#trust ul h1 {
  color: #6F6F6F;
  font-size: 0.938em;
  line-height: 1.250em;
  font-weight: 600;
  margin: 10px 0;
}
/* line 112, ../sass/screen.scss */
#trust ul p {
  font-size: 0.75em;
  margin: 5px;
}
/* line 117, ../sass/screen.scss */
#trust ul li {
  display: inline-block;
  width: 32%;
  margin: 0 0 25px 0;
}

/* ==========================================================================
   More 
   ========================================================================== */
/* line 131, ../sass/screen.scss */
#more {
  margin: 50px 0;
}
/* line 134, ../sass/screen.scss */
#more header {
  margin: 100px 0;
}
/* line 137, ../sass/screen.scss */
#more header h1 {
  font-weight: 300;
  font-size: 2.750em;
}
/* line 143, ../sass/screen.scss */
#more img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #E4744E;
  float: left;
  margin: 0 10px 50px 0;
}
/* line 150, ../sass/screen.scss */
#more .column.one-third {
  text-align: left;
  margin: 35px 0;
}
/* line 154, ../sass/screen.scss */
#more .column.one-third h1 {
  margin: 5px 0 10px 0;
  color: #4C4C4C;
}
/* line 159, ../sass/screen.scss */
#more .column.one-third p {
  color: #7A7A7A;
  font-size: 0.875em;
  line-height: 1.375em;
  padding-right: 25px;
}
/* line 167, ../sass/screen.scss */
#more h1 {
  font-weight: 600;
}
/* line 171, ../sass/screen.scss */
#more .row div:last-of-type p {
  padding-right: 0;
}

/* ==========================================================================
   Pay 
   ========================================================================== */
/* line 181, ../sass/screen.scss */
#pay {
  margin: 50px 0 125px 0;
}
/* line 184, ../sass/screen.scss */
#pay h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 25px 0 45px;
}
/* line 190, ../sass/screen.scss */
#pay li {
  display: inline-block;
  margin: 15px 5px 15px;
}

/* line 196, ../sass/screen.scss */
.mysql {
  display: inline-block;
  margin-top: 25px;
  font-size: 0.938em;
}

/* ==========================================================================
   Revendedores 
   ========================================================================== */
/* line 209, ../sass/screen.scss */
.planD7,
.planD14,
.planD25,
.planD100 {
  width: 25%;
  height: 630px;
}

/* line 215, ../sass/screen.scss */
.planD7 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #4faab2;
  border-bottom: 3px solid black;
  border-color: #3c8f96;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.planD7 a:hover {
  background-color: #3c8f96;
  border-color: #4faab2;
}

/* line 221, ../sass/screen.scss */
.planD14 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #70bb81;
  border-bottom: 3px solid black;
  border-color: #469956;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.planD14 a:hover {
  background-color: #469956;
  border-color: #70bb81;
}

/* line 227, ../sass/screen.scss */
.planD25 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #92cb51;
  border-bottom: 3px solid black;
  border-color: #72aa29;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.planD25 a:hover {
  background-color: #72aa29;
  border-color: #92cb51;
}

/* line 233, ../sass/screen.scss */
.planD100 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #b3dc20;
  border-bottom: 3px solid black;
  border-color: #9dbc19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.planD100 a:hover {
  background-color: #9dbc19;
  border-color: #b3dc20;
}

/* ==========================================================================
   VPS
   ========================================================================== */
/* line 245, ../sass/screen.scss */
.vps_1,
.vps_2,
.vps_3,
.vps_4,
.vps_5 {
  width: 20%;
  height: 620px;
}

/* line 250, ../sass/screen.scss */
.vps_1 {
  border-right: none;
}
/* line 252, ../sass/screen.scss */
.vps_1 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #4faab2;
  border-bottom: 3px solid black;
  border-color: #3c8f96;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.vps_1 a:hover {
  background-color: #3c8f96;
  border-color: #4faab2;
}
/* line 256, ../sass/screen.scss */
.vps_1 .firstVPS {
  margin-top: 50px;
}

/* line 261, ../sass/screen.scss */
.vps_2 {
  border-right: none;
}
/* line 263, ../sass/screen.scss */
.vps_2 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #68b78e;
  border-bottom: 3px solid black;
  border-color: #489b6d;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.vps_2 a:hover {
  background-color: #489b6d;
  border-color: #68b78e;
}

/* line 268, ../sass/screen.scss */
.vps_3 {
  border-right: none;
}
/* line 270, ../sass/screen.scss */
.vps_3 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #81c369;
  border-bottom: 3px solid black;
  border-color: #65a848;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.vps_3 a:hover {
  background-color: #65a848;
  border-color: #81c369;
}

/* line 277, ../sass/screen.scss */
.vps_4 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #9ad045;
  border-bottom: 3px solid black;
  border-color: #90c435;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.vps_4 a:hover {
  background-color: #90c435;
  border-color: #9ad045;
}

/* line 283, ../sass/screen.scss */
.vps_5 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #b3dc20;
  border-bottom: 3px solid black;
  border-color: #9dbc19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 20, ../sass/variables.scss */
.vps_5 a:hover {
  background-color: #9dbc19;
  border-color: #b3dc20;
}

/* ==========================================================================
   Domains
   ========================================================================== */
/* line 294, ../sass/screen.scss */
#registerDomain input {
  background-color: #B2B2B2;
  color: #fff;
  margin: 10px 0 25px 0;
  padding: 5px 0 5px 10px;
  font-weight: 400;
  width: 600px;
}
/* line 303, ../sass/screen.scss */
#registerDomain h1 {
  font-weight: 300;
  font-size: 3em;
  margin: 30px 0;
}
/* line 309, ../sass/screen.scss */
#registerDomain h2 {
  color: #70BB81;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.125em;
}
/* line 316, ../sass/screen.scss */
#registerDomain p {
  font-weight: 300;
}
/* line 319, ../sass/screen.scss */
#registerDomain p span {
  font-size: 0.875em;
}
/* line 324, ../sass/screen.scss */
#registerDomain button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #70bb81;
  border-bottom: 3px solid black;
  border-color: #469956;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0 none;
  border-left: none;
  border-right: none;
  border-top: 0 none;
  font-size: 1em;
  margin: 25px 0;
}
/* line 20, ../sass/variables.scss */
#registerDomain button:hover {
  background-color: #469956;
  border-color: #70bb81;
}
/* line 334, ../sass/screen.scss */
#registerDomain .wrap {
  max-width: 800px;
}
/* line 339, ../sass/screen.scss */
#registerDomain .row {
  width: 600px;
  margin: 10px auto;
}
/* line 344, ../sass/screen.scss */
#registerDomain .column.one-fourth {
  border: 1px dashed #686868;
  padding: 24px;
  width: 21.5%;
}
/* line 350, ../sass/screen.scss */
#registerDomain .column {
  margin-left: 3%;
}
/* line 354, ../sass/screen.scss */
#registerDomain .iva {
  margin-top: 25px;
}

/* line 359, ../sass/screen.scss */
.domainActive {
  background-color: #DBDBDB;
}

/* ==========================================================================
   Housing
   ========================================================================== */
/* line 367, ../sass/screen.scss */
#calculateHousing {
  margin-top: 25px;
}
/* line 371, ../sass/screen.scss */
#calculateHousing h1,
#calculateHousing h3 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 25px;
}
/* line 377, ../sass/screen.scss */
#calculateHousing h3 {
  color: #4C4C4C;
  font-size: 3em;
}
/* line 381, ../sass/screen.scss */
#calculateHousing h3 span {
  font-size: 0.4em;
}
/* line 386, ../sass/screen.scss */
#calculateHousing h2 {
  line-height: 1.375em;
}
/* line 390, ../sass/screen.scss */
#calculateHousing button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #70bb81;
  border-bottom: 3px solid black;
  border-color: #469956;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0 none;
  border-left: none;
  border-right: none;
  border-top: 0 none;
  font-size: 1em;
  margin-top: 25px;
}
/* line 20, ../sass/variables.scss */
#calculateHousing button:hover {
  background-color: #469956;
  border-color: #70bb81;
}

/* line 403, ../sass/screen.scss */
#optionHousing {
  margin: 50px auto;
}
/* line 406, ../sass/screen.scss */
#optionHousing .column.one-fourth {
  border: 1px dashed #686868;
  padding: 24px;
  width: 21.5%;
}
/* line 412, ../sass/screen.scss */
#optionHousing .row {
  width: 600px;
  margin: 10px auto;
}

/* line 419, ../sass/screen.scss */
#slider-horizontal {
  width: 60%;
  text-align: center;
  margin: 30px auto 50px;
  background-color: #C9C9C9;
}

/* line 426, ../sass/screen.scss */
#amount {
  border: 1px dashed #686868;
  color: #70BB81;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 50px auto 20px;
  width: 150px;
  font-weight: 300;
}

/* line 437, ../sass/screen.scss */
.mb {
  color: #70BB81;
  font-size: 40px;
  font-weight: 300;
}

/* line 444, ../sass/screen.scss */
.ui-slider-horizontal .ui-slider-range-min {
  background-color: #9DBC19;
}

/* line 448, ../sass/screen.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #E8E8E8;
  border: 8px solid #9DBC19;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 456, ../sass/screen.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -0.6em;
  outline: 0 none;
}

/* ==========================================================================
   Consultas
   ========================================================================== */
/* line 468, ../sass/screen.scss */
#stepOne,
#stepTwo,
#stepThree {
  margin: 25px 0;
}

/* line 472, ../sass/screen.scss */
#help {
  margin: 50px 0;
}
/* line 475, ../sass/screen.scss */
#help h1 {
  font-size: 4em;
  background-color: #e4744e;
  border: 3px solid #E8E8E8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  padding: 20px 32px;
  color: #FFF;
  margin-bottom: 10px;
}
/* line 486, ../sass/screen.scss */
#help h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 25px 0;
  color: #757575;
}
/* line 493, ../sass/screen.scss */
#help h3 {
  margin-bottom: 20px;
  line-height: 1.3em;
}
/* line 499, ../sass/screen.scss */
#help input,
#help textarea {
  background-color: #B2B2B2;
  color: #FFF;
  width: 240px;
  display: inline-block;
  padding: 5px;
}
/* line 507, ../sass/screen.scss */
#help input {
  margin-top: 15px;
}
/* line 511, ../sass/screen.scss */
#help textarea {
  width: 100%;
  resize: none;
  margin-top: 25px;
  font-size: 1em;
  border: 0 none;
  outline: 0 none;
}
/* line 520, ../sass/screen.scss */
#help input::-webkit-input-placeholder, #help textarea::-webkit-input-placeholder {
  color: #FFF;
}
/* line 521, ../sass/screen.scss */
#help input:-moz-placeholder, #help textarea:-moz-placeholder {
  color: #FFF;
}
/* line 523, ../sass/screen.scss */
#help form {
  width: 500px;
  margin: 0 auto;
}
/* line 528, ../sass/screen.scss */
#help button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #70bb81;
  border-bottom: 3px solid black;
  border-color: #469956;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.9em;
  margin-bottom: 75px;
}
/* line 20, ../sass/variables.scss */
#help button:hover {
  background-color: #469956;
  border-color: #70bb81;
}
/* line 534, ../sass/screen.scss */
#help hr {
  border: 1px solid #C1C1C1;
  color: #B2B2B2;
  width: 600px;
  margin: 50px auto;
}

/* line 542, ../sass/screen.scss */
.nameHelp {
  float: left;
}

/* line 543, ../sass/screen.scss */
.mailHelp {
  float: right;
}

/* line 547, ../sass/screen.scss */
#stepOne ul {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
/* line 552, ../sass/screen.scss */
#stepOne ul li {
  display: inline-block;
  margin: 12px 5px;
}
/* line 556, ../sass/screen.scss */
#stepOne ul li a {
  padding: 3px 10px;
  background-color: #B2B2B2;
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
}
/* line 563, ../sass/screen.scss */
#stepOne ul li a:hover {
  background-color: #e4744e;
}

/* line 571, ../sass/screen.scss */
#stepTwo {
  margin: 100px auto;
}

/* line 575, ../sass/screen.scss */
.helpActive {
  background-color: #e4744e;
}

/* line 577, ../sass/screen.scss */
.dontKnow {
  font-weight: 300;
  color: #A2A2A2;
  display: block;
  margin: 15px 0;
}
/* line 583, ../sass/screen.scss */
.dontKnow:hover {
  color: #e4744e;
}

/* ==========================================================================
   Login 
   ========================================================================== */
/* line 592, ../sass/screen.scss */
#login {
  background: #525252 url("../img/bg_login.jpg") 0 0;
  height: 100vh;
  width: 100%;
}
/* line 598, ../sass/screen.scss */
#login .logo {
  float: none;
  padding: 60px;
}
/* line 602, ../sass/screen.scss */
#login .logo h1 {
  font-weight: 300;
  color: #FFF;
  margin: 25px 0 0 0;
}
/* line 609, ../sass/screen.scss */
#login .row img {
  background-color: #B3D234;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 614, ../sass/screen.scss */
#login h2 {
  color: #fff;
  margin: 20px 0;
  font-weight: 300;
}
/* line 620, ../sass/screen.scss */
#login input {
  background-color: rgba(82, 82, 82, 0.8);
  font-weight: 300;
  padding: 6px;
  margin: 5px 0;
  color: #FFF;
}
/* line 628, ../sass/screen.scss */
#login button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px;
  color: #FFF;
  text-decoration: none;
  background-color: #b3dc20;
  border-bottom: 3px solid black;
  border-color: #9dbc19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0 none;
  color: #515151;
  display: block;
  margin: 15px auto;
  font-size: 0.875em;
}
/* line 20, ../sass/variables.scss */
#login button:hover {
  background-color: #9dbc19;
  border-color: #b3dc20;
}
/* line 637, ../sass/screen.scss */
#login .column {
  vertical-align: top;
  display: inline-block;
  float: none;
}
/* line 643, ../sass/screen.scss */
#login .column.one-third {
  width: 27%;
}

/* ==========================================================================
   Guias de ayuda
   ========================================================================== */
/* line 652, ../sass/screen.scss */
#heroGuides {
  background-image: none;
  height: 330px;
}
/* line 656, ../sass/screen.scss */
#heroGuides h1 {
  font-size: 3em;
  line-height: 0;
}

/* line 663, ../sass/screen.scss */
#guides {
  margin-top: 25px;
  font-weight: 300;
}
/* line 667, ../sass/screen.scss */
#guides img {
  background-color: #9DBC3B;
  border: 5px solid #99AE3A;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 673, ../sass/screen.scss */
#guides h1 {
  font-size: 1.3em;
  margin: 15px 0;
}
/* line 678, ../sass/screen.scss */
#guides a {
  color: #777777;
  text-decoration: none;
  font-size: 0.875em;
}
/* line 683, ../sass/screen.scss */
#guides a:hover {
  text-decoration: underline;
}
/* line 688, ../sass/screen.scss */
#guides li {
  margin: 15px 0;
}
/* line 692, ../sass/screen.scss */
#guides .row {
  margin: 50px 0;
}

/* line 698, ../sass/screen.scss */
.logoGuides,
.nameGuides {
  float: left;
  color: #FFF;
  font-weight: 300;
}

/* line 706, ../sass/screen.scss */
.logoGuides img {
  width: 75%;
  margin-top: 10px;
}

/* line 712, ../sass/screen.scss */
.nameGuides {
  margin-top: 23px;
}

/* ==========================================================================
   Paises
   ========================================================================== */
/* line 721, ../sass/screen.scss */
#flags {
  background-color: #4C4C4C;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
/* line 727, ../sass/screen.scss */
#flags ul {
  padding-top: 50px;
  text-align: center;
  background-color: #4C4C4C;
}
/* line 732, ../sass/screen.scss */
#flags ul li {
  display: inline-block;
  margin: 15px 10px;
  vertical-align: top;
}
/* line 737, ../sass/screen.scss */
#flags ul li a {
  color: #FFF;
  text-decoration: none;
}
/* line 741, ../sass/screen.scss */
#flags ul li a:hover {
  text-decoration: underline;
}
/* line 746, ../sass/screen.scss */
#flags ul li img {
  width: 45px;
  position: relative;
  top: 12px;
  padding-bottom: 20px;
}

/* ==========================================================================
   Responsive
   ========================================================================== */
/* ==========================================================================
   1024PX 
   ========================================================================== */
@media screen and (max-width: 1024px) {
  /* line 12, ../sass/_responsive.scss */
  #features .wrap {
    width: 100%;
  }
  /* line 16, ../sass/_responsive.scss */
  #features img {
    width: 50%;
  }
  /* line 20, ../sass/_responsive.scss */
  #features h1 {
    font-size: 1em;
  }
  /* line 24, ../sass/_responsive.scss */
  #features p {
    font-size: 0.875em;
    width: 200px;
  }

  /* line 32, ../sass/_responsive.scss */
  #domains h1 {
    font-size: 3em;
  }
  /* line 36, ../sass/_responsive.scss */
  #domains h2 {
    width: 90%;
  }

  /* line 41, ../sass/_responsive.scss */
  #hero {
    height: 545px;
  }
  /* line 44, ../sass/_responsive.scss */
  #hero h1 {
    font-size: 5em;
  }
  /* line 48, ../sass/_responsive.scss */
  #hero h2 {
    font-size: 1em;
    width: 90%;
  }

  /* line 54, ../sass/_responsive.scss */
  .mainTitle {
    margin-top: 100px;
  }

  /* line 59, ../sass/_responsive.scss */
  #plans .wrap {
    width: auto;
  }
  /* line 63, ../sass/_responsive.scss */
  #plans img {
    width: 35%;
  }
  /* line 67, ../sass/_responsive.scss */
  #plans .plan_1 {
    margin-top: -30px;
    height: 560px;
  }
  /* line 85, ../sass/_responsive.scss */
  #plans .plan0 h1,
  #plans .plan1 h1,
  #plans .planIlimitado h1,
  #plans .planD7 h1,
  #plans .planD14 h1,
  #plans .planD25 h1,
  #plans .planD100 h1,
  #plans .vps_1 h1,
  #plans .vps_2 h1,
  #plans .vps_3 h1,
  #plans .vps_4 h1,
  #plans .vps_5 h1 {
    font-size: 1.250em;
    margin-top: 12px;
  }
  /* line 90, ../sass/_responsive.scss */
  #plans .plan0 h4,
  #plans .plan1 h4,
  #plans .planIlimitado h4,
  #plans .planD7 h4,
  #plans .planD14 h4,
  #plans .planD25 h4,
  #plans .planD100 h4,
  #plans .vps_1 h4,
  #plans .vps_2 h4,
  #plans .vps_3 h4,
  #plans .vps_4 h4,
  #plans .vps_5 h4 {
    line-height: 1.275em;
    width: 95%;
  }
  /* line 95, ../sass/_responsive.scss */
  #plans .plan0 ul,
  #plans .plan1 ul,
  #plans .planIlimitado ul,
  #plans .planD7 ul,
  #plans .planD14 ul,
  #plans .planD25 ul,
  #plans .planD100 ul,
  #plans .vps_1 ul,
  #plans .vps_2 ul,
  #plans .vps_3 ul,
  #plans .vps_4 ul,
  #plans .vps_5 ul {
    margin: 24px 0;
  }
  /* line 99, ../sass/_responsive.scss */
  #plans .plan0 .price,
  #plans .plan1 .price,
  #plans .planIlimitado .price,
  #plans .planD7 .price,
  #plans .planD14 .price,
  #plans .planD25 .price,
  #plans .planD100 .price,
  #plans .vps_1 .price,
  #plans .vps_2 .price,
  #plans .vps_3 .price,
  #plans .vps_4 .price,
  #plans .vps_5 .price {
    font-size: 3em;
  }

  /* line 106, ../sass/_responsive.scss */
  .plan0,
  .planIlimitado {
    height: 500px;
  }

  /* line 110, ../sass/_responsive.scss */
  .plan1 {
    margin-top: -30px;
    height: 560px;
    padding-top: 55px;
  }

  /* line 117, ../sass/_responsive.scss */
  #more img {
    float: none;
    margin-bottom: 10px;
  }
  /* line 122, ../sass/_responsive.scss */
  #more .column.one-third {
    text-align: center;
    margin: 20px 0;
  }
  /* line 126, ../sass/_responsive.scss */
  #more .column.one-third h1 {
    font-size: 0.935em;
  }
  /* line 130, ../sass/_responsive.scss */
  #more .column.one-third p {
    font-size: 0.75em;
  }

  /* line 136, ../sass/_responsive.scss */
  #contact {
    font-size: 2em;
  }
}
/* ==========================================================================
   900px 
   ========================================================================== */
@media screen and (max-width: 900px) {
  /* line 152, ../sass/_responsive.scss */
  #more .column.one-third p,
  #more .column.one-third h1 {
    width: 200px;
    margin: 0 auto;
    padding: 0;
  }
  /* line 158, ../sass/_responsive.scss */
  #more .column.one-third h1 {
    margin: 5px auto 10px;
    line-height: 1.4em;
  }
}
/* ==========================================================================
   800px 
   ========================================================================== */
@media screen and (max-width: 800px) {
  /* line 178, ../sass/_responsive.scss */
  #hero {
    height: 450px;
  }
  /* line 181, ../sass/_responsive.scss */
  #hero h1 {
    font-size: 4em;
  }
  /* line 185, ../sass/_responsive.scss */
  #hero h2 {
    font-size: 0.9em;
    width: 90%;
  }
  /* line 191, ../sass/_responsive.scss */
  #hero .logo {
    float: none;
    text-align: center;
  }
  /* line 195, ../sass/_responsive.scss */
  #hero .logo img {
    width: 200px;
  }
  /* line 200, ../sass/_responsive.scss */
  #hero nav {
    float: none;
    margin-top: 15px;
  }
  /* line 204, ../sass/_responsive.scss */
  #hero nav li {
    float: none;
    display: inline-block;
    font-size: 0.935em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* line 213, ../sass/_responsive.scss */
  #hero .mainTitle {
    margin-top: 50px;
  }
  /* line 217, ../sass/_responsive.scss */
  #hero header {
    width: 96%;
    margin: 0 auto;
  }

  /* line 223, ../sass/_responsive.scss */
  #plans {
    padding-top: 25px;
  }

  /* line 227, ../sass/_responsive.scss */
  .mainTitle {
    margin-top: 75px;
  }

  /* line 232, ../sass/_responsive.scss */
  #trust h1,
  #plans header h1 {
    font-size: 3em;
  }

  /* line 237, ../sass/_responsive.scss */
  #plans header h2,
  #trust h2 {
    width: 95%;
    font-size: 0.875em;
  }

  /* line 242, ../sass/_responsive.scss */
  #contact {
    font-size: 1.5em;
  }
}
/* ==========================================================================
   720px 
   ========================================================================== */
@media screen and (max-width: 720px) {
  /* line 256, ../sass/_responsive.scss */
  #features p {
    font-size: 0.75em;
  }

  /* line 261, ../sass/_responsive.scss */
  #contact {
    font-size: 1.35em;
  }

  /* line 266, ../sass/_responsive.scss */
  #trust {
    height: auto;
  }
  /* line 269, ../sass/_responsive.scss */
  #trust ul li {
    width: 49%;
  }

  /* line 289, ../sass/_responsive.scss */
  .plan0 h1,
  .plan1 h1,
  .planIlimitado h1,
  .planD7 h1,
  .planD14 h1,
  .planD25 h1,
  .planD100 h1,
  .vps_1 h1,
  .vps_2 h1,
  .vps_3 h1,
  .vps_4 h1,
  .vps_5 h1 {
    font-size: 1.250em;
    margin-top: 12px;
  }
  /* line 294, ../sass/_responsive.scss */
  .plan0 h4,
  .plan1 h4,
  .planIlimitado h4,
  .planD7 h4,
  .planD14 h4,
  .planD25 h4,
  .planD100 h4,
  .vps_1 h4,
  .vps_2 h4,
  .vps_3 h4,
  .vps_4 h4,
  .vps_5 h4 {
    line-height: 1.275em;
    width: 95%;
  }
  /* line 299, ../sass/_responsive.scss */
  .plan0 ul,
  .plan1 ul,
  .planIlimitado ul,
  .planD7 ul,
  .planD14 ul,
  .planD25 ul,
  .planD100 ul,
  .vps_1 ul,
  .vps_2 ul,
  .vps_3 ul,
  .vps_4 ul,
  .vps_5 ul {
    margin: 24px 0;
  }
  /* line 303, ../sass/_responsive.scss */
  .plan0 .price,
  .plan1 .price,
  .planIlimitado .price,
  .planD7 .price,
  .planD14 .price,
  .planD25 .price,
  .planD100 .price,
  .vps_1 .price,
  .vps_2 .price,
  .vps_3 .price,
  .vps_4 .price,
  .vps_5 .price {
    font-size: 2.5em;
  }
  /* line 307, ../sass/_responsive.scss */
  .plan0 li,
  .plan1 li,
  .planIlimitado li,
  .planD7 li,
  .planD14 li,
  .planD25 li,
  .planD100 li,
  .vps_1 li,
  .vps_2 li,
  .vps_3 li,
  .vps_4 li,
  .vps_5 li {
    font-size: 0.875em;
  }

  /* line 313, ../sass/_responsive.scss */
  .plan0,
  .planIlimitado {
    height: 455px;
  }

  /* line 317, ../sass/_responsive.scss */
  .plan1 {
    height: 510px;
  }
}
/* ==========================================================================
   640PX 
   ========================================================================== */
@media screen and (max-width: 640px) {
  /* line 336, ../sass/_responsive.scss */
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth,
  .column.two-third {
    float: none;
    margin: 20px 0;
    width: 100%;
  }

  /* line 344, ../sass/_responsive.scss */
  .btnsucces,
  .btnwarning,
  .btnerror {
    display: block;
  }

  /* line 349, ../sass/_responsive.scss */
  #features {
    padding: 20px  0;
  }
  /* line 352, ../sass/_responsive.scss */
  #features .row {
    margin: 10px 5%;
  }
  /* line 356, ../sass/_responsive.scss */
  #features img {
    width: 25%;
    float: left;
    margin-right: 15px;
  }
  /* line 362, ../sass/_responsive.scss */
  #features .column.one-third {
    overflow: hidden;
    margin: 30px 0;
  }
  /* line 367, ../sass/_responsive.scss */
  #features h1 {
    text-align: left;
  }
  /* line 370, ../sass/_responsive.scss */
  #features p {
    text-align: left;
    width: auto;
  }

  /* line 377, ../sass/_responsive.scss */
  #info p {
    width: 96%;
    margin: 0 auto;
  }

  /* line 386, ../sass/_responsive.scss */
  #more .row {
    margin: 0 5%;
    overflow: inherit;
  }
  /* line 390, ../sass/_responsive.scss */
  #more .row .column.one-third {
    overflow: hidden;
    margin: 30px 0;
    width: auto;
  }
  /* line 395, ../sass/_responsive.scss */
  #more .row .column.one-third img {
    float: left;
    margin-right: 15px;
  }
  /* line 401, ../sass/_responsive.scss */
  #more .row .column.one-third h1,
  #more .row .column.one-third p {
    text-align: left;
    width: auto;
  }

  /* line 409, ../sass/_responsive.scss */
  #contact {
    font-size: 1em;
  }
}
/* line 421, ../sass/_responsive.scss */
#more .column.one-third p,
#more .column.one-third h1 {
  width: 200px;
  margin: 0 auto;
  padding: 0;
}
/* line 427, ../sass/_responsive.scss */
#more .column.one-third h1 {
  margin: 5px auto 10px;
  line-height: 1.4em;
}

/* ==========================================================================
   580PX 
   ========================================================================== */
@media screen and (max-width: 600px) {
  /* line 442, ../sass/_responsive.scss */
  #hero h1 {
    font-size: 3em;
  }
  /* line 446, ../sass/_responsive.scss */
  #hero .action {
    font-size: 0.875em;
  }
}
/* ==========================================================================
   480PX 
   ========================================================================== */
@media screen and (max-width: 480px) {
  /* line 461, ../sass/_responsive.scss */
  #hero h1 {
    font-size: 2.5em;
  }
  /* line 465, ../sass/_responsive.scss */
  #hero h2 {
    margin-bottom: 35px;
    font-size: 0.875em;
  }
}
